* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

}

html {
    scroll-behavior: smooth;
  }
  

.peak {
    animation-duration: 1s;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: 700;
    margin-bottom: 75px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 0 20% 0 20%;
    font-size: 20px;
    border-bottom: 5px solid rgb(31, 33, 151);
    color: white; 
    background-color: rgb(0, 17, 255);;
}

.peak:hover {
    transform: translateY(-10px);
    border-bottom: 5px solid rgb(143, 52, 113);
    background-color: rgb(255, 50, 118);
    color: white;
   
  }

video {
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: auto;
}

body::-webkit-scrollbar {
    width: 1em;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(211, 211, 211);
  outline: 1px solid slategrey;
}

.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    font-weight: 700;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    border-bottom: 5px solid rgb(31, 33, 151);
    color: white; 
    background-color: rgb(0, 17, 255);;
  }

  .button1:hover {
    transform: translateY(-10px);
    border-bottom: 5px solid rgb(143, 52, 113);
    background-color: rgb(255, 50, 118);
    color: white;
    /* box-shadow: 0 12px 10px 0 rgba(70, 70, 70, 0.24),0 17px 50px 0 rgba(104, 104, 104, 0.19); */
  }

img {
    width: 100%;
    height: auto;
}



.container {
    margin: 0 20% 0 20%;
    padding-bottom: 20px;
    padding-top: 50px;

}

.head-container {
    animation-duration: 1.7s;
}

.text-container {
    display: inline-block;
    width: 45%;
    padding-right: 3%;
    vertical-align: top;
    padding-top: 8%;
}

.right-image{
    line-height: 0;
    display: inline-block;
    width: 48%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    transition: transform ease-in-out 0.4s;
    overflow: hidden;
    cursor: pointer;
}

.right-image:hover {
    transform: scale(1.05);
}

.title {
    font-size: 3.5em;
    line-height: 1.1em;
    font-weight: 400;
    padding-bottom: 30px;
}

.description {
    padding-bottom: 70px;
    font-size: 1.5em;
    line-height: 30px;
}

.calluna-color {
    color: rgb(55, 43, 226);
}

/* navbar */
a {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
  }
  
  
  /*======================================================
                            Navbar
    ======================================================*/
  #navbar {
    animation: colorchange 10s;
    background-color: rgb(0, 17, 255);
    color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    height: 70px;
    line-height: 75px;
    width: 100vw;
    z-index: 10;
    transition: top 0.35s;
  }
  @keyframes colorchange
    {
      0%   {background: rgb(0, 17, 255);}
      100%  {background: rgb(10, 45, 238);}

    }

  
  .nav-wrapper {
    margin: auto;
    text-align: center;
    width: 70%;
  } @media(max-width: 768px) {
      .nav-wrapper {
        width: 90%;
      }
    } @media(max-width: 638px) {
        .nav-wrapper {
          width: 100%;
        }
      } 
  
  
#SVG-LOGO {
    max-width: 44px;
    cursor: pointer;
}

  .logo {
    float: left;
    margin-left: 28px;
    font-size: 1.5em;
    height: 60px;
    width: 42px;
    letter-spacing: 1px;
    text-transform: uppercase;
  } @media(max-width: 768px) {
      .logo {
  /*       margin-left: 5px; */
      }
    }
  
  #navbar ul {
    display: inline-block;
    float: right;
    list-style: none;
    /* margin-right: 14px; */
    margin-top: -2px;
    text-align: right;
    transition: transform 0.5s ease-out;
    -webkit-transition: transform 0.5s ease-out;
  } @media(max-width: 640px) {
      #navbar ul {
        display: none;
      }
    } @media(orientation: landscape) {
        #navbar ul {
          display: inline-block;
        }
      }
  
  #navbar li {
    display: inline-block;
  }
  
  #navbar li a {
    color: rgb(255, 255, 255);
    display: block;
    font-size: .9em;
    height: 50px;
    letter-spacing: 1px;
    margin: 0 20px;
    padding: 0 4px;
    position: relative;
    text-decoration: none;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
  }
  
  #navbar li a:hover {
    /* border-bottom: 1px solid rgb(28, 121, 184); */
    color: rgb(241, 241, 241);
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
  }
  
  /* Animated Bottom Line */
  #navbar li a:before, #navbar li a:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: -1px;
    background-color: rgb(0, 17, 255);
  }
  
  #navbar li a:before {
    left: 0;
    transition: 0.5s;
  }
  
  #navbar li a:after {
    background: rgb(255, 255, 255);
    right: 0;
    /* transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1); */
  }
  
  #navbar li a:hover:before {
    background: rgb(255, 255, 255);
    width: 100%;
    transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
  }
  
  #navbar li a:hover:after {
    background: transparent;
    width: 100%;
    /* transition: 0s; */
  }
  
  
  
  /*======================================================
                      Mobile Menu Menu Icon
    ======================================================*/
  @media(max-width: 640px) {
    

    .menuIcon {
    
      cursor: pointer;
      display: block;
      position: fixed;
      right: 15px;
      top: 20px;
      height: 23px;
      width: 27px;
      z-index: 12;
    }
  
    /* Icon Bars */
    .icon-bars {
      background: rgb(13, 26, 38);
      position: absolute;
      left: 1px;
      top: 45%;
      height: 2px;
      width: 20px;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    } 
  
    .icon-bars::before {
      background: rgb(13, 26, 38);
      content: '';
      position: absolute;
      left: 0;
      top: -8px;
      height: 2px;
      width: 20px;
  /*     -webkit-transition: top 0.2s ease 0.3s;
      transition: top 0.2s ease 0.3s; */
      -webkit-transition: 0.3s width 0.4s;
      transition: 0.3s width 0.4s;
    }
  
    .icon-bars::after {
      margin-top: 0px;
      background: rgb(13, 26, 38);
      content: '';
      position: absolute;
      left: 0;
      bottom: -8px;
      height: 2px;
      width: 20px;
  /*     -webkit-transition: top 0.2s ease 0.3s;
      transition: top 0.2s ease 0.3s; */
      -webkit-transition: 0.3s width 0.4s;
      transition: 0.3s width 0.4s;
    }
  
    /* Bars Shadows */
    .icon-bars.overlay {
      background: rgb(97, 114, 129);
      background: rgb(183, 199, 211);
      width: 20px;
      animation: middleBar 3s infinite 0.5s;
      -webkit-animation: middleBar 3s infinite 0.5s;
    } @keyframes middleBar {
        0% {width: 0px}
        50% {width: 20px}
        100% {width: 0px}
      } @-webkit-keyframes middleBar {
          0% {width: 0px}
          50% {width: 20px}
          100% {width: 0px}
        }
  
    .icon-bars.overlay::before {
      background: rgb(97, 114, 129);
      background: rgb(183, 199, 211);
      width: 10px;
      animation: topBar 3s infinite 0.2s;
      -webkit-animation: topBar 3s infinite 0s;
    } @keyframes topBar {
        0% {width: 0px}
        50% {width: 10px}
        100% {width: 0px}
      } @-webkit-keyframes topBar {
          0% {width: 0px}
          50% {width: 10px}
          100% {width: 0px}
        }
  
    .icon-bars.overlay::after {
      background: rgb(97, 114, 129);
      background: rgb(183, 199, 211);
      width: 15px;
      animation: bottomBar 3s infinite 1s;
      -webkit-animation: bottomBar 3s infinite 1s;
    } @keyframes bottomBar {
        0% {width: 0px}
        50% {width: 15px}
        100% {width: 0px}
      } @-webkit-keyframes bottomBar {
          0% {width: 0px}
          50% {width: 15px}
          100% {width: 0px}
        }
  
  
    /* Toggle Menu Icon */
    .menuIcon.toggle .icon-bars {
      top: 5px;
      transform: translate3d(0, 5px, 0) rotate(135deg);
      transition-delay: 0.1s;
      transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  
    .menuIcon.toggle .icon-bars::before {
      top: 0;
      transition-delay: 0.1s;
      opacity: 0;
    }
  
    .menuIcon.toggle .icon-bars::after {
      top: 10px;
      transform: translate3d(0, -10px, 0) rotate(-270deg);
      transition-delay: 0.1s;
      transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  
    .menuIcon.toggle .icon-bars.overlay {
      width: 20px;
      opacity: 0;
      -webkit-transition: all 0s ease 0s;
      transition: all 0s ease 0s;
    }
  }
  
  
  /*======================================================
                     Responsive Mobile Menu 
    ======================================================*/
  .overlay-menu {
    background: lightblue;
    color: rgb(13, 26, 38);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 15px;
    transform: translateX(-100%);
    width: 100vw;
    height: 100vh;
    -webkit-transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
  }
  
  .overlay-menu ul, .overlay-menu li {
    display: block;
    position: relative;
  }
  
  .overlay-menu li a {
    display: block;
    font-size: 1.8em;
    letter-spacing: 4px;
  /*   opacity: 0; */
    padding: 10px 0;
    text-align: right;
    text-transform: uppercase;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
  /*   -webkit-transition: 0.2s opacity 0.2s ease-out;
    transition: 0.2s opacity 0.2s ease-out; */
  }
  
  .overlay-menu li a:hover,
  .overlay-menu li a:active {
    color: rgb(28, 121, 184);
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }

  /* CTA TEXT */
  .cta-text {
    max-width: 1000px;
      color: rgb(14, 14, 14);
      font-size: 3.3em;
      margin: 300px 20% 200px 20%;
  }

  .bio {
      max-width: 90%;
      padding-top: 40px;
      font-size: 2rem;

  }

.rc-logo {
    z-index: 99;
    max-width: 40px !important;
}

@media (min-width: 641px) and (max-width:1599px) {
    .cta-text {
        font-size: 2em;
    }
    .bio {
        font-size: 1em;
    }

    .title {
        font-size: 2em;
    }

    .description {
        font-size: 1em;
        line-height: 1.3em;
        padding-bottom: 20px;
    }

    .button {
        font-size: .9em;
        padding: 13px;
    }
}


/* MEDIA QUERY FOR HEADER AND REST OF SITE */

@media(max-width: 640px) {

    .peak {
        display: none;
    }

    .cta-text {
        font-size: 1.4em;
        margin-left: 5%;
        margin-right: 5%;
    }

    .bio {
        font-size: .85em;
    }

    .container {
        margin-left: 5%;
    }

    .text-container {
        width: 100%;
    }

    .title {
        width: 100%;
        font-size: 2em;
    }

    .description {
        padding-top: 0;
    }

    .right-image {
        width: 100%;
        text-align: center;
    }

    .button {
display: none;
    }
    
    section {
        margin-left: auto;
        margin-right: auto;
        border-bottom: 1px solid rgb(119, 119, 119);
    }
}


